@model SuperSecret2.Models.Secret
<!DOCTYPE html>
<html>
<head>
    <title>Create Secret</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {<p>
            @Html.LabelFor(x => x.Creator.Name)
            @Html.TextBoxFor(x => x.Creator.Name)
        </p>
            <p>
                @Html.LabelFor(x => x.Creator.Email)
                @Html.TextBoxFor(x => x.Creator.Email)
            </p><p>
            @Html.LabelFor(x => x.Recipient.Name)
            @Html.TextBoxFor(x => x.Recipient.Name)
        </p>
            <p>
                @Html.LabelFor(x => x.Recipient.Email)
                @Html.TextBoxFor(x => x.Recipient.Email)
            </p>
            
            <p>
            @Html.Label("lifetime","Lifetime");
            @Html.TextBox("lifetime")
            </p>
            
            <p>
            @Html.TextBoxFor(x => x.Content, new { size = 80, maxlength = SuperSecret2.Config.MaxSecretLength })            </p>
            
            
            
            <p><input type="submit" value="Create" />

            </p>
        }
    </div>
    @if (!string.IsNullOrWhiteSpace(ViewBag.URL))
    {
        <p>
            @ViewBag.URL
        </p>
        
        <p>
            This URL can be visited only once before it's expiration time of @ViewBag.ExpiresUTC
            UTC.
        </p>
    }
</body>
</html>
